# Different types of Data Structures

In [1]:
#LIST

In [14]:
lst = ['Bikramjit', 'Saha', '30-12-2000', 19, 'python']

In [2]:
lst

['Bikramjit', 'Saha', '30-12-2000', 19, 'python']

In [4]:
lst.append('sept')

In [5]:
lst

['Bikramjit', 'Saha', '30-12-2000', 19, 'python', 'sept']

In [6]:
lst.extend('2020')

In [7]:
lst

['Bikramjit', 'Saha', '30-12-2000', 19, 'python', 'sept', '2', '0', '2', '0']

In [8]:
lst.extend([2020])

In [9]:
lst

['Bikramjit',
 'Saha',
 '30-12-2000',
 19,
 'python',
 'sept',
 '2',
 '0',
 '2',
 '0',
 2020]

In [11]:
lst.index(19)

3

In [12]:
lst.count(2)

0

In [13]:
lst.count('2')

2

In [14]:
lst.reverse()

In [15]:
lst

[2020,
 '0',
 '2',
 '0',
 '2',
 'sept',
 'python',
 19,
 '30-12-2000',
 'Saha',
 'Bikramjit']

In [18]:
lst.insert(0,'student')

In [19]:
lst

['student',
 2020,
 '0',
 '2',
 '0',
 '2',
 'sept',
 'python',
 19,
 '30-12-2000',
 'Saha',
 'Bikramjit']

In [20]:
lst1=lst.copy()

In [21]:
lst1

['student',
 2020,
 '0',
 '2',
 '0',
 '2',
 'sept',
 'python',
 19,
 '30-12-2000',
 'Saha',
 'Bikramjit']

In [22]:
lst.clear()

In [23]:
lst

[]

In [24]:
lst1.pop()

'Bikramjit'

In [27]:
lst1.pop(8)

19

In [30]:
lst1.remove('2')

In [31]:
lst1

['student', 2020, '0', '0', '2', 'sept', 'python', '30-12-2000', 'Saha']

In [32]:
#DICTIONARY

In [33]:
dic = {"fname":"Bikramjit","lname":"Saha","age":19,"college":"Siliguri Institute of Technology"}

In [34]:
dic

{'fname': 'Bikramjit',
 'lname': 'Saha',
 'age': 19,
 'college': 'Siliguri Institute of Technology'}

In [38]:
dic.items()

dict_items([('fname', 'Bikramjit'), ('lname', 'Saha'), ('age', 19), ('college', 'Siliguri Institute of Technology')])

In [39]:
dic.values()

dict_values(['Bikramjit', 'Saha', 19, 'Siliguri Institute of Technology'])

In [40]:
dic.get("fname")

'Bikramjit'

In [41]:
dic.keys()

dict_keys(['fname', 'lname', 'age', 'college'])

In [43]:
dic.update({"department":"CSE"})

In [44]:
dic

{'fname': 'Bikramjit',
 'lname': 'Saha',
 'age': 19,
 'college': 'Siliguri Institute of Technology',
 'department': 'CSE'}

In [45]:
dic.pop("age")

19

In [46]:
dic

{'fname': 'Bikramjit',
 'lname': 'Saha',
 'college': 'Siliguri Institute of Technology',
 'department': 'CSE'}

In [48]:
dic1= dic.copy()

In [49]:
dic1

{'fname': 'Bikramjit',
 'lname': 'Saha',
 'college': 'Siliguri Institute of Technology',
 'department': 'CSE'}

In [50]:
dic.clear()

In [51]:
dic

{}

In [52]:
dic1.popitem()

('department', 'CSE')

In [54]:
dic1

{'fname': 'Bikramjit',
 'lname': 'Saha',
 'college': 'Siliguri Institute of Technology'}

In [55]:
dic2 = dic1.setdefault("college")

In [56]:
dic2

'Siliguri Institute of Technology'

In [58]:
dic1.fromkeys("fname")

{'f': None, 'n': None, 'a': None, 'm': None, 'e': None}

In [61]:
dic3 = dic1.fromkeys(dic1)

In [62]:
dic3

{'fname': None, 'lname': None, 'college': None}

In [63]:
dic3 = dic1.fromkeys(dic1,21)

In [64]:
dic3

{'fname': 21, 'lname': 21, 'college': 21}

In [65]:
#SET

In [69]:
st={1,2,"hello",2.8,(9,99,"hi",2.33)}

In [70]:
st

{(9, 99, 'hi', 2.33), 1, 2, 2.8, 'hello'}

In [76]:
st1={(9, 99, 'hi', 2.33)}

In [77]:
st1.issubset(st)

True

In [78]:
st1= st.copy()

In [79]:
st1

{(9, 99, 'hi', 2.33), 1, 2, 2.8, 'hello'}

In [80]:
st.clear()

In [81]:
st

set()

In [82]:
st1.add(1)

In [83]:
st1

{(9, 99, 'hi', 2.33), 1, 2, 2.8, 'hello'}

In [84]:
st1

{(9, 99, 'hi', 2.33), 1, 2, 2.8, 'hello'}

In [85]:
st1.add(3)

In [86]:
st1

{(9, 99, 'hi', 2.33), 1, 2, 2.8, 3, 'hello'}

In [88]:
st1.update([4,5,6,7])

In [89]:
st1

{(9, 99, 'hi', 2.33), 1, 2, 2.8, 3, 4, 5, 6, 7, 'hello'}

In [90]:
st2={11,22,(33,44,55)}

In [91]:
st1= st1.union(st2)

In [92]:
st1

{(33, 44, 55), (9, 99, 'hi', 2.33), 1, 11, 2, 2.8, 22, 3, 4, 5, 6, 7, 'hello'}

In [96]:
st1.pop()

1

In [97]:
st1.remove(2)

In [98]:
st1

{(33, 44, 55), (9, 99, 'hi', 2.33), 11, 2.8, 22, 3, 4, 5, 6, 7, 'hello'}

In [99]:
st1.difference(st2)

{(9, 99, 'hi', 2.33), 2.8, 3, 4, 5, 6, 7, 'hello'}

In [109]:
st1.discard(2.8)

In [110]:
st1

{(9, 99, 'hi', 2.33), 3, 4, 5, 6, 7, 'hello'}

In [111]:
st1.isdisjoint(st2)

True

In [112]:
st1.issuperset(st2)

False

In [113]:
st2

{(33, 44, 55), 11, 22}

In [118]:
st2.update({'hello'})

In [130]:
st2

{(33, 44, 55), 11, 22, 'hello'}

In [131]:
st2.intersection(st1)

{'hello'}

In [132]:
st2.symmetric_difference(st1)

{(33, 44, 55), (9, 99, 'hi', 2.33), 11, 22, 3, 4, 5, 6, 7}

In [133]:
#TUPLE

In [134]:
tup= ("bikramjit","saha",19)

In [135]:
tup

('bikramjit', 'saha', 19)

In [138]:
tup.count("saha")

1

In [139]:
tup.index(19)

2

In [140]:
#BOOLEAN

In [142]:
a = True

In [143]:
b = False

In [2]:
#STRING AND ITS DEFAULT METHODS

In [3]:
a = 7
b = 21

In [4]:
a+b

28

In [5]:
type(a)

int

In [6]:
c = 3.2
d = 4.8
e = 6.0

In [7]:
c + d + e

14.0

In [8]:
type(c)

float

In [9]:
name = "Bikramjit"

In [11]:
type(name)

str

In [12]:
name1 = "Saha"

In [13]:
name + " " + name1

'Bikramjit Saha'

In [27]:
len(name + " " + name1)

14

In [19]:
lst =[1,2,3,[1,2,3],"abc"]

In [20]:
lst[0]

1

In [21]:
lst[3][2]

3

In [22]:
lst[-1]

'abc'

In [23]:
lst[4]

'abc'

In [24]:
lst[-2][-2]

2

In [25]:
type(lst)

list

In [26]:
len(lst)

5